body {
    font-family: 'Arima', cursive;

    style p {
        margin: 0%;
        padding: 0%;
        background-image: url("pict_donation.jpg");
    }


}

.background {

    margin: 0%;
    padding: 0%;
    height: 100%;
    text-align: center;
    background-image: url(images/pict_original.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.heading {

    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin: 40px;
    color: rgba(210, 237, 240, 0.982);
}

.para {
    margin: 50px;
    padding: 50px;
    text-align: center;
    color: aqua;
}

.button {

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(orange, maroon);
    padding: 20px 50px;
    color: aliceblue;
    border-radius: 10px;

}

.donation {
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    background-image: linear-gradient(white, red);
    padding: 30px, 50px;
    border-radius: 10px;
    align-content: center;

}

.mid-heading {
    margin: 80px, 40px;
    color: black font-size: 40pxpx;
    font-weight: 900;
    text-align: center;

}

#para_2 {
    margin-top: 0px;
    padding: 50px;
    text-align: center;
    color: gray;
}

.font {
    font-size: 30px;
}

.green {
    color: green;
    font-size: 40px;
}

.Zakat {
    display: flex;
    width: 50%;
}

.half-width {
    width: 50%;
    padding-right: 20px;
    text-align: justify;
    padding-right: 50%;
    padding-left: 5%;


}

.half-width-img {
    width: 30%;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 100%;
}

.contribute {
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    color: aliceblue;

}

.donation-plan {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0%;
}

.plan {
    text-align: center;
    margin-top: 0px;
}

.final {
    text-align: center;
    margin: 40px;
    padding-top: 40px;
}

.smile {
    font-size: 30px;
    text-align: center;
    color: red;
}

.footer {

    text-align: center;
    background-color: black;
}